<!DOCTYPE html>
<html>
  <head>
    <title>Patient Edit</title>
  </head>
  <body>
    <div class="container">
      <h1>Edit Patient <%= patient?.PatientID %></h1>

      <form action="/patient/<%= patient?.PatientID %>/edit" method="POST">
        <div class="mb-3">
          <label class="form-label">
            Name
            <input
              type="text"
              value="<%= patient.Name %>"
              name="name"
              class="form-control"
            />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Date of Birth
            <input
              type="date"
              value="<%= patient.DateOfBirth %>"
              name="dateOfBirth"
              class="form-control"
            />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Address
            <input
              type="text"
              value="<%= patient.Address %>"
              name="address"
              class="form-control"
            />
          </label>
        </div>
        <div class="mb-3">
          <label class="form-label">
            Insurance ID
            <input
              type="text"
              value="<%= patient.InsuranceID %>"
              name="insuranceId"
              class="form-control"
            />
          </label>
        </div>

        <div>
          <button type="submit" class="btn btn-primary">Save Changes</button>
        </div>
      </form>
    </div>
    <!-- /.container -->
  </body>
</html>
